@import "variables";
@import 'bootstrap';

body {
  background-color: $primary;
}


.card {
  max-width: 15rem;
}


.nav-link {
  &.active {
    text-decoration: underline;
  }

  color: $success;
  cursor: pointer;
}

.card-title {
  .badge {
    text-transform: capitalize;
    background-color: black;
    box-shadow: 0 0 12px 4px;
  }
}
