@import "variables";
@import 'bootstrap';

body {
  background-color: $primary;
}


.card {
  max-width: 15rem;
}

.nav-link {
  text-decoration: underline;
  color: $primary;
  cursor: pointer;
}

nav {
  div {
    button {
      span {
        color: $success;
      }
    }
  }
}
